.location-button-container {
    position: relative;
  }
  
  .location-button {
    position: relative;
    top: 15px;
    width: 500%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 12%;
  }
  
  .location-button.active {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.938); /* Sombras azul cuando el botón está activo */
  }
  
  .location-button strong {
    margin: 3px;
    font-size: 12px;
  }
  
  .location-button span {
    margin: 3px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .location-list {
    margin-top: 40px; /* Ajusta este valor según el espacio deseado entre el botón y la lista */
    padding: 0;
    list-style: none;
    font-size: 12px;
  }
  
  .location-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
  }
  
  .location-list li svg {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .location-list button {
    border: none;
    background-color: #fff;
    font-size: 16px;
  }
  
  .location-list button:hover {
    background-color: #4f4f4f;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  
  