.card-container {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.figure-card {
    margin: 0;
}

.image-class {
    width: 395px;
    height: 269px; 
    border-radius: 15px; 
    object-fit: cover; 
}

.title {
    font-size: 16px;
    margin: 15px 10px 15px 1px;
}

.ratings {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #fff;
}

.star-icon {
    width: 24px;
}

.rating {
    position: relative;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating span {
    color: #4F4F4F;
    margin-right: 5px;
}

.rating i {
    margin-right: 5px;
}

.type {
    color: #828282;
    font-size: 14px;
    margin-top: 5px;
}

.superhost {
    text-align: center;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 4px 9px;
    color: #4F4F4F;
    font-size: 12px;
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .card-container {
        max-width: 100%; 
        margin: 10px; 
    }

    .image-class {
        width: 100%;
        height: auto; 
        border-radius: 8px; 
    }

    .title {
        font-size: 14px; 
        margin: 10px; 
    }

    .ratings, .type, .superhost {
        margin: 10px; 
    }
}
